{% extends 'base.twig' %}
{% block content %}
    <div>
        <div>
            <a href="{{ path('new_post') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add article
            </a>
        </div>
    </div>
    <div>
        <div>
            Total articles: {{ count }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Author</th>
            </tr>
            </thead>

            <tbody>
            {% for blog in blogs %}
                <tr>
                    <td><a href="{{ path('blog_post', {'post': blog.id}) }}">{{ blog.title }}</a></td>
                    <td>{{ blog.date }}</td>
                    <td>{{ blog.author }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}