{% extends 'base.twig' %}
{% block content %}
    <div>
        <a href="{{ path('blog_posts') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the posts list
        </a>
        <div>
            <h1>{{ blog.title }}</h1>
        </div>
        <div>
            <p>{{ blog.text }}</p>
        </div>
        <div style="color: gray">
            Author: {{ blog.author }}
            Date: {{ blog.date }}
        </div>
        <form class="form-group" action="{{ path('delete_post', {'post': blog.id}) }}" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete post
            </button>
        </form>
        <div>
            <a href="{{ path('new_post') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add article
            </a>
        </div>
    </div>
{% endblock %}